{% extends "homepage.html" %}

{% block title %}
    Reservations
{% endblock %}
{% block main %}
<br><br>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Reservation ID</th>
        <th scope="col">Cover</th>
        <th scope="col">Book ID</th>
        <th scope="col">Title</th>
        <th scope="col">Deadline</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%for reservation in reservations%}
            <tr>
                {% set photo_adress = reservation["photo_adress"]  %}
                <th scope="row"></th>
                <td>{{ reservation["reservation_id"] }}</td>
                <td> <img src="{{ photo_adress }}" alt="photo" style="height: 75px; width: 75px;"> </td>
                <td>{{ reservation["book_id"] }}</td>
                <td>{{ reservation["title"] }}</td>
                <td>{{ reservation["deadline"] }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
